@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>HTTPRequest</p>
<table class="table">
    <tr>
        <th>Scheme</th>
        <th>Host</th>
        <th>PathBase</th>
        <th>Path</th>
        <th>QueryString</th>
    </tr>
    <tr>
        <td>@Request.Scheme</td>
        <td>@Request.Host</td>
        <td>@Request.PathBase</td>
        <td>@Request.Path</td>
        <td>@Request.QueryString</td>
    </tr>

</table>

<p>Headers</p>
<table class="table">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    @{
        foreach (var header in Request.Headers)
        {
            <tr>
                <td>@header.Key</td>
                <td>@header.Value</td>
            </tr>

        }
    }

</table>