@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>What is <a href="api/weatherforecast">The Weather Forecast</a>.</p>
    <p>What is <a href="api/AuthStatus/display-name">The User Display Name</a>.</p>
    <p>What is <a href="api/AuthStatus/claims">The User Claims</a>.</p>
    <p>What is <a href="api/AuthStatus/oidc-session-details">The User oidc-session-details</a>.</p>
</div>
<p>HTTPRequest</p>
<table class="table">
    <tr>
        <th>Scheme</th>
        <th>Host</th>
        <th>PathBase</th>
        <th>Path</th>
        <th>QueryString</th>
    </tr>
    <tr>
        <td>@Request.Scheme</td>
        <td>@Request.Host</td>
        <td>@Request.PathBase</td>
        <td>@Request.Path</td>
        <td>@Request.QueryString</td>
    </tr>

</table>